*{
    font-family: 'Times New Roman', Times, serif;
}
.grid-container {
    display: grid;
    grid-template-rows: 0.2fr 0.3fr 2fr;
    grid-template-columns: 5fr 15fr 10fr 5fr ;
    grid-gap: 0%;
    grid-template-areas:
    "logoarea areaheader areaheader areaidiomas "
    "areaguia areaguia areaguia  areaguia"
    "areahorario areahorario areacontacto areacontacto "
    "areafoto areafoto areaformulario areaformulario"
    }

    .grid-header{
        background-color: #E5DCD3;
        grid-area: areaheader; 
        position: relative;
        
    }
    .grid-logo{
        background-color: #E5DCD3;
        grid-area :logoarea;
    
    }
    .grid-idiomas{
        background-color: #E5DCD3;
        grid-area: areaidiomas;
    }

    .grid-guia{
        grid-area: areaguia;
        
    }
    .grid-contacto{
      background-color:  #E5DCD3;
      margin: 4% 20%;
      grid-area: areacontacto;
        
    }

    .grid-horario{
      margin: 4% 20%;
      background-color:  #E5DCD3;
      grid-area:areahorario
    }
    
   .grid-foto{
    margin-bottom: 2%;
    grid-area: areafoto;
   }
  .grid-formulario{
      margin: 4% 20%;
        grid-area: areaformulario;
     }
 .grid-foto{
      margin-bottom: 2%;
      grid-area: areafoto;
     }
  footer{
    background-color: #9B9B9A;
    padding: 3%;
  }

 
    /* Estilo para el encabezado de la web*/
    button{
        display: none;
    }
    footer{
      background-color: #9B9B9A;
      color: white;
      padding: 1%;
    }
    
    .idiomas{
        align-items: flex-start;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
    }
    .link-item{
      color: black;
      cursor: pointer;
      margin-left: 10%;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      font-size: 1.2em;
      line-height: 150px;
    }
    .con_estilos {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        font-size: 1.2em;
        font-style: oblique;
        width: 150px;
        padding: 5px;
        border: 0px solid #E5DCD3;
        height: 40px;
        background-color:#E5DCD3;
        margin-left: 4%;
        }
        .grid-contacto p .grid-horario p{
          margin: 7%;
       }

    .logo{
      height: auto;
      margin: 5%;
      width: 40%;
    }
    #rojo{
        color: #AB0932;
    }
    #rojoindice{
      color:#AB0932;
    }
     /* Estilo de la guia*/

    a{
        color: black;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
       }
     /* Estilo de la guia*/
     p , h2 {
        text-align: left;
        margin: 3%;
        margin-left: 12%;
     }
     h2{
        margin-bottom: 7%;
     }

     #mapa{
        margin: 0 auto;
     }
   

     .texto{
        padding: 20%;
     }
      /* Estilo del formulario*/
     .my-button {
      padding: 20px 30px;
      background-color:#AB0932;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
    }

    @media (max-width: 950px) {
        .grid-container {
          display: grid;
          grid-template-rows: 0.1fr 0.3fr 1fr 1fr ;
          grid-template-columns: 10fr  10fr 8fr ;
          grid-gap: 0px;
          grid-template-areas:
          "areaidiomas logoarea areaheader  "
          "areaguia areaguia areaguia"
          "areahorario areahorario areahorario"
          "areacontacto areacontacto  areacontacto "
          "areafoto areafoto areafoto"
          "areaformulario areaformulario areaformulario"
        }
        button{
            opacity: 100%;
        }
        .con_estilos {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 800;
            font-size: 1.2em;
            width: 150px;
            padding: 5px;
            border: 0px solid #E5DCD3;
            height: 40px;
            background-color:#AB0932;
            margin-left: 20%;
            margin-top: 10%;
            }
        option{
            background-color: grey;
        }
        .logo{
            text-align: center;
            height: auto;
            margin: 5%;
            width: 40%;
        }
        .link-item{
            line-height: 10px;}

        .main-header{
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #E5DCD3;
            padding: 0 0.4rem;
          }
          .main-nav{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            margin-left: -100%;
            transition: all .2s linear;
            z-index: 100;
          }
          
          .main-nav.show{
            margin-left: 0;
          }
          
          .nav-links{
            background-color:#AB0932;
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            align-items: center;
           
          }
          
          .link-item{
            margin-top: 2rem;
            color:black;
            text-decoration: none;
            font-weight: bold;
            position: relative;
          }
          
          .link-item::after {
            position: absolute;
            content: "";
            background-color: black;
            bottom: -5px;
            left: 0;
            width: 0%;
            height: 3px;
            transition: 0.3s ease all;
          }
          
          .link-item:hover::after {
            width: 100%;
          }
          
          .button-menu{
            z-index: 200;
            width: 40px;
            height: 40px;
            border: none;
            display: flex;
            background: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          
          .button-menu span{
            width: 37px;
            height: 4px;
            margin-bottom: 6px;
            margin-left: 130px;
            position: relative;
            background: #AB0932;
            border-radius: 3px;
            transform-origin: 4px 0px;
            transition: all .2s linear;
            
          }
          
          .button-menu.close span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, 0px);
            background: #E5DCD3;
          }
          
          .button-menu.close span:nth-child(2){
            transform: rotate(-45deg) translate(-8px, 5px);
          }
          
          .button-menu.close span:nth-child(3){
            display: none;
        }

        #rojoindice{
            color:white;
          }

        }

        /*Hasta aquí el estilo del header */